[2021-01-05 19:25] bw4sz opened #1 "Roadmap"
# Motivation

It is clear that tensorflow's 1.0 -> 2.0 upgrade has severely limited the portability of the DeepForest package (https://travis-ci.org/github/weecology/DeepForest/builds/749697379). While it may be possible to continue to support tensorflow as the primary machine learning engine, the vast majority of code in this project is agnostic to the model prediction step. Judging from

https:/

[2021-01-07 03:38] bw4sz opened #2 "Labels are currently hard coded"
in dataset.py, need a read_classes() method take in a dict of classes either from file or as an arg. Everything is just hard coded as tree.

[2021-01-07 19:52] bw4sz opened #3 "Optionall print out plots of annotations + detections on deepforest.predict_file"
Allow user to specify whether they want to save to file.

[2021-01-07 21:44] #3 closed

[2021-01-17 17:49] bw4sz opened #4 "Port a predict tile function."
https://github.com/weecology/DeepForest/blob/19826f0c133e1844f80101a440076a534a07a07c/deepforest/deepforest.py#L406

A predict tile function

- [x]  splits an input raster into pieces
- [x] predicts each piece
- [x]  reassigns the original coordinate matrix
- [x] Applies non-max suppression to reduce the edge effects among tiles.

All of this can be ported from tensorflow except the non-max suppre

[2021-01-20 18:02] bw4sz opened #5 "Optional SoftNMS"
see [35] N. Bodla, B. Singh, R. Chellappa and L.S. Davis, “Soft-NMS - Improving Object Detection with One Line of Code,” 2017 IEEE International Conference on Computer Vision (ICCV), IEEE, 2017

[2021-01-20 18:02] bw4sz opened #6 "Anchor Box Manipulation"
Allow users to customize anchor boxes based on proposal sizes.

[2021-02-06 15:01] #4 closed

[2021-02-06 15:09] bw4sz commented on #1
Closing this issue at the end of milestone in favor of creating more detailed issues to bring the package forward.

[2021-02-06 15:09] #1 closed

[2021-02-06 15:14] bw4sz opened #8 "Update README and docs"
The README from DeepForest needs to be updated to represent any changes in the API.

Key steps

- [ ] Copy docs from DeepForest
- [ ] Look for changes in names, predict_generator -> predict_file, check color ordering from tensorflow to pytorch
- [ ] A tutorial, preferably written in google collab and/or ipython is needed on model training.
- [] Once a pretrained model is recreated, a collab tutori

[2021-02-06 15:32] bw4sz opened #9 "Train release model"
Using the data from DeepForest, need to train and validate a release model against the NeonTreeEvaluation benchmark.

[2021-02-06 15:35] bw4sz opened #10 "Pypi integration on build"
- [ ] The azure build tools needs to be updated to create a new pypi package deepforest_pytorch.

[2021-02-06 15:45] bw4sz commented on #10
Building azure pipelines here, it will fail at first and then can debug

https://dev.azure.com/benweinstein2010/DeepForest/_build

[2021-02-06 16:38] dingyif commented on #8
I think I can add a mandarin explanation for the summary part.

[2021-02-06 16:41] bw4sz commented on #8
if its not useful, don't worry about it. We always try to make these things
are available as possible.

On Sat, Feb 6, 2021 at 8:39 AM Dingyi Fang <notifications@github.com> wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-02-06 21:59] bw4sz commented on #8
Docs were regenerated and being built https://deepforest-pytorch.readthedocs.io/en/latest/

[2021-02-06 22:01] bw4sz commented on #10
Creating first release for azure to build on tags and pull requests https://dev.azure.com/benweinstein2010/DeepForest/_releaseProgress?_a=release-environment-logs&releaseId=94&environmentId=177

[2021-02-06 23:37] dingyif commented on #8
I think it will reach more peoples if we can add an additional language. It's not a big deal for me. I can write it up quick.

[2021-02-06 23:38] dingyif commented on #8
If it will help this to reach more audience, of course. Not a huge issue for me, I can write it up really quick.

[2021-02-07 02:42] bw4sz commented on #8
first set of docs pass, need to be update for the port

https://deepforest-pytorch.readthedocs.io/en/latest/

[2021-02-07 23:03] dingyif commented on #5
1. https://github.com/ZFTurbo/Weighted-Boxes-Fusion/blob/master/ensemble_boxes/ensemble_boxes_nms.py
2. https://github.com/DocF/Soft-NMS/blob/master/soft_nms.py

Those are two sample codes that are available online. Should I create a new function based on those references?

[2021-02-08 00:36] bw4sz commented on #10
Pypi build pushed.

https://pypi.org/project/deepforest-pytorch/

not quite right though. Pip install works fine.

[code]

But the syntax isn't totally correct, you can load 'deepforest' module but not the deepforest package? Not sure I've got the right terminology. Something about the setup.py isn't quite right.
[code]

But asking for the module directly works.
[code]

Its also not
[code]

Maybe

[2021-02-08 00:40] bw4sz commented on #5
definitely. I just finished the pypi install, but the syntax isn't quite
right, see that issue if you find anything annoying. I'll fix it tomorrow.

On Sun, Feb 7, 2021 at 3:04 PM Dingyi Fang <notifications@github.com> wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-02-08 15:50] henrykironde commented on #10
Checking it out right now

[2021-02-08 16:36] henrykironde commented on #10
It should be `from deepforest import ........`

[2021-02-08 16:38] henrykironde commented on #10
Example usage
[code]

[2021-02-08 17:11] bw4sz commented on #10
ugh! obviously. I had renamed deepforest/deepforest.py -> deepforest/main.py and forgot between versions. Sorry.

[2021-02-08 17:11] #10 closed

[2021-02-11 00:09] #5 closed

[2021-02-11 00:11] bw4sz opened #13 "Data Augmentations"
I am new to pytorch, so i think we should wait until we've made a few tutorials and tested the models, but important to remember to include bounding box data augmentations.

Looks like they are described here:
https://pytorch.org/docs/stable/torchvision/transforms.html

[2021-02-11 00:12] bw4sz commented on #13
nevermind, I already did this and forgot. close for now.

https://github.com/weecology/DeepForest-pytorch/blob/d90d62fa416f90a5f8ff1dfcf7059598ccaec3ac/deepforest/transforms.py#L15

[2021-02-11 00:12] #13 closed

[2021-02-11 00:15] bw4sz opened #14 "Multi-class models"
DeepForest was primarily designed as 'tree' detector, with one class. I think it is useful to atleast allow users to train multi-class models.

Things to investigate

1. [x] allow multiple labels in the dataset.py
2. [x] have a lookup dict for multiple labels when visualizing
3. [x] Add multiple colors for each class
4. [x] Make sure that evaluation statistics can report multiple classes
5. [x] Ma

[2021-02-16 02:34] bw4sz opened #15 "Load and save models"
main.py needs a way to save a trained model and then reload model method for recreating deepforest instances. test should confirm that prediction before and after should yield the same results.

@dingyif if you are interested, this seems like a good place to help. No pressure.

[2021-02-16 02:36] bw4sz opened #16 "Evaluate bounding boxes"
main.py deepforest class needs an evaluate method that returns

* mean-average-precision for a given intersection over union threshold between ground truth and predicted bounding boxes.
* precision at a fixed probability cutoff
* recall at a fixed probability cutoff

[code]

Much of this code can be take and generalized from

https://github.com/weecology/NeonTreeEvaluation_python/blob/eaa5dfb3d2a1

[2021-02-16 03:35] bw4sz commented on #16
Need a sanitize file checker for format of input files

[code]

[2021-02-16 16:22] dingyif commented on #15
Definitely, I will take a look at it.

[2021-02-16 17:52] bw4sz opened #17 "Insert callbacks."
Allow users to insert a callback during training.

[2021-02-16 19:51] bw4sz commented on #16
closed commit 0fd96831e4a650c164acf60befcc5010bc6538bd

[2021-02-16 19:51] #16 closed

[2021-02-17 00:28] bw4sz commented on #15
Hold off here for a couple days. I'm playing with integrating the trainer into pytorch-lightning to gain access to these kind of convenience structures and logging.

[2021-02-17 21:17] bw4sz commented on #15
Okay https://github.com/weecology/DeepForest-pytorch/commit/5b371f6084ac58fb7f42c301fa134583bb2c73f7 , makes the main module a pytorch-lightning object. deepforest.save() and deepforest.load() should look like something here https://pytorch-lightning.readthedocs.io/en/stable/weights_loading.html

The load saved model under __init__

[code]

probably is now not that logical and could be removed. Pr

[2021-02-17 21:22] bw4sz commented on #17
Any pytorch lightning module can now be plugged in during training

[code]

yields

[code]

[2021-02-17 21:22] #17 closed

[2021-02-19 22:22] bw4sz opened #18 "callback throws error"
[code]

[code]

[2021-02-19 23:15] bw4sz opened #19 "Normalize image?"
inputs are expected in 0-1 range

https://pytorch.org/vision/stable/_modules/torchvision/models/detection/retinanet.html

[2021-02-19 23:35] #19 closed

[2021-02-20 03:29] #18 closed

[2021-02-20 03:29] bw4sz opened #20 "Is evaluate being run on CPU or GPU?"
How to test for when GPU is available in evaluate, especially during callbacks and make sure its run on GPU for predictions.

[2021-02-22 02:24] bw4sz opened #21 "Integrate predict_file, predict_image and predict_tile into pytorch lightning test."
Workflow is something like,

Create a dataloader, apply pytorch lightning model on correct devices, collect outputs

[2021-02-22 19:28] bw4sz opened #22 "Its not clear whether pretained models are RGB or BGR."

[2021-02-23 20:44] #21 closed

[2021-02-23 20:44] #20 closed

[2021-03-02 04:04] dingyif commented on #15
https://pytorch-lightning.readthedocs.io/en/0.7.0/weights_loading.html

Is this something we should implement?

[2021-03-02 22:07] dingyif commented on #15
I was writing the test case for the new method I created.
I have some questions, please pardon me if I'm being stupid in those questions.

1. For the m function  why we're using `m.model = model.load_backbone()` instead of `m.create_model()` since you already create `m.create_model()` method in deepforest module.
2. Do you have problems with the `predict_tile` method?  It feels for me, there's no

[2021-03-02 22:14] bw4sz commented on #15
Those two questions are related! Because we have no release model yet, the random model is just randomly initialized weights. So it happens to not predict any trees in that data, so the test fails. Once we have a release model, don't need to bother with model.load_backbone(), we will have .use_release() method just like in the other package. I have models running right now, but they aren't quite r

[2021-03-02 22:21] dingyif commented on #15
Great! I will change that `m.create_model()` back to `m.model = model.load_backbone()` right now.

Do you want to integrate the method created related to this issue? You can just use `m.save_model(path)` to save the model_checkpoint.

Sorry about the late commit. It was really a long week.

[2021-03-03 03:00] bw4sz opened #24 "Evaluate creates non-sensical results."
The release model is starting to look pretty decent, but the test recall and evaluate are below 1%, this doesn't seem reasonable. Sample image:
![TEAK_043_step_5909](https://user-images.githubusercontent.com/1208492/109745986-865e6000-7b89-11eb-9f43-5cc3c1fadb9e.png)

It seems more likely that the evaluate method isn't operating correctly. Having a release model (0.1.9) will allow us to test more

[2021-03-03 20:11] #15 closed

[2021-03-04 18:27] bw4sz opened #25 "validation data loader should be optional"
Right is data loader is not supplied in config, yields error.

[2021-03-05 20:40] #24 closed

[2021-03-10 22:21] bw4sz opened #26 "Parallel dataloader for directory of files"
For out of memory csv datasets, the TreeDataSet leads to bottlenecks. One way to solve this is have many individual files to read. The peformance gains are still to be tested.

https://discuss.pytorch.org/t/dataset-class-loading-multiple-data-files/47789

[2021-03-10 22:26] bw4sz commented on #26
I think the problem is outside of the use case for this repo and belongs in DeepForest_Model as a subclassed method.

[2021-03-12 22:21] bw4sz commented on #25
Added test. If no loader is passed, it returns None.

[code]

done.

[2021-03-12 22:21] #25 closed

[2021-03-12 22:44] bw4sz commented on #8
Updated getting started page.

[2021-03-12 22:48] #22 closed

[2021-03-14 20:59] dingyif commented on #8
Did you start to write the Google Colab tutorial yet? I can work on that one if you haven't started it.

[2021-03-14 21:05] bw4sz commented on #8
nope go for it. Wait like twenty minutes to get the release model. I just
finished it. It is virtually identical to the tensorflow. about 80% recall,
64% on the NeonTreeEvaluation benchmark we are publishing
https://github.com/weecology/NeonTreeEvaluation
[image: image.png]

There is very little left to do in terms of code before 0.2.0 milestone.
Need to write a multi-class tutorial and make sure

[2021-03-14 21:17] dingyif commented on #8
Great! Glad to hear that!! Can't wait to try it on my dataset.

[2021-03-14 21:21] bw4sz commented on #8
I see some very small extra boxes that need to be filtered. Probably the
anchor box generator default sizes are too small. Very minor.

On Sun, Mar 14, 2021 at 2:17 PM Dingyi Fang ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-03-14 21:36] bw4sz commented on #6
There are several plots with very small boxes.

[2021-03-14 21:37] bw4sz commented on #9
Besides small boxes that need to be filtered, I'm closing this.

[2021-03-14 21:37] #9 closed

[2021-03-15 21:21] bw4sz opened #31 "Evaluate module not in docs."
@henrykironde do you have a second to guess at something?

The evaluate module is a blank page sitting on its own outside of deepforest package. At the same time there is no evaluate submodule in package source docs. There should be deepforest.evaluate submodule alongside all the others. Sphinx does not throw any flags. I didn't check readthedocs logs.

https://github.com/weecology/DeepForest-pyto

[2021-03-16 02:38] henrykironde commented on #31
The main part was to install the current changes before running make html.
I have done some cleaning of the docs to reduce the warnings. 4 warnings are still present but they are due to the package tqdm. We cannot avoid them.

[2021-03-16 20:32] #31 closed

[2021-03-17 08:21] dwaipayan05 commented on #2
Hi @bw4sz, I was trying to create a read_classes() method to take in a dict of classes from file or as an arg. I followed a bit of the implementation of original DeepForest. I have sent a PR for the same. But since I am new to the Pytorch implementation of DeepForest. Hence, I am afraid I might have done some stuff wrong. I am willing to make any changes requested to follow the correct path. I am

[2021-03-17 08:56] dwaipayan05 commented on #8
Hello @dingyif @bw4sz
If the work of making a Google Colab Tutorial for Training a Model DeepForest-Pytorch requires some contribution. I would like to help in this context. Please point me towards what has to be included in the tutorial, I'll send a PR for the same.

I have gone through the Training Model of DeepForest (keras-retinanet) implementation. They have the following modules
-> Design Ev

[2021-03-17 15:16] dingyif commented on #8
While I was testing the pip install deepforest-pytorch, I found out the data folder not contains everything we have in the original Github repo, especially the example.csv and the tif files that used to retrain the model. Is there any way we can fix that?

[2021-03-17 15:52] bw4sz commented on #8
sure. I can add them from here. Just didn't want to clutter it up. The
tests pass, so it must be a file associated with the docs?

On Wed, Mar 17, 2021 at 8:16 AM Dingyi Fang ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-03-17 16:00] bw4sz commented on #2
@dwaipayan05 nice to have you around, we welcome all help. Looking at the PR now.

[2021-03-17 16:24] bw4sz commented on #8
I see those files here: https://github.com/weecology/DeepForest-pytorch/tree/master/deepforest/data

Is this happening only when we pip install?

[2021-03-17 16:29] bw4sz commented on #8
Confirmed. Missing after pip install.
[code]

[2021-03-17 16:32] bw4sz commented on #8
Its funny its only example.csv that is missing. Here is the contents of the pip install data folder.
<img width="963" alt="Screen Shot 2021-03-17 at 9 31 45 AM" src="https://user-images.githubusercontent.com/1208492/111503107-b23e2180-8703-11eb-8934-22242b15e6cc.png">

[2021-03-17 16:40] bw4sz commented on #8
@dingyif  good catch, this is actually a bug from the original repo, I just fixed it in both. Example.csv was missing from the manifest.in. I pushed a new version to pypi, if all other tests pass it will push. As a workaround till then you can download it from the repo.

[2021-03-17 17:21] dingyif commented on #8
Great! That's what I'm doing right now but I think it will be useful for the users to replicate the tutorial result before implementing their datasets. Thanks for the update!

[2021-03-17 19:28] dwaipayan05 opened #34 "Build Wheel Error"
While running `pip install -r dev_requirements.txt` inside my virtual environment the following error occurred

![image](https://user-images.githubusercontent.com/53687927/111526308-962e9480-8784-11eb-8505-ece60e847864.png)

System Specifications

- Python - 3.8.7
- OS - Windows 10 Home Single Language

[2021-03-18 02:18] bw4sz commented on #34
This is upstream of this library and specific to your build. I recommend conda environments as pip + rasterio + gdal is for more experienced users, especially on windows. Check out the rasterio help installation if you want to pip install.

[2021-03-18 02:18] #34 closed

[2021-03-18 02:21] bw4sz opened #35 "plot is show is show_plot is False, but savedir is used."
reported by @dingyif, i'll need to make a reproducible example and write a test. Making an issue to remind myself.

[2021-03-18 02:37] bw4sz commented on #8
Add colab link to the front readme. I still need to add it to the readthedocs. @henrykironde can you confirm that if you click on this link the permissions are set right for you to see it.

https://colab.research.google.com/drive/1AJUcw5dEpXeDPHd0sotAz5lpWedFYSIL?usp=sharing

Thanks @dingyif! I'll make one for the benchmark score and prediction.

[2021-03-18 03:42] dwaipayan05 commented on #8
Confirmation from @dwaipayan05
Colab Link is Working
Permissions are Set Right

[2021-03-18 04:03] henrykironde commented on #8
Looking at this now

[2021-03-18 04:10] henrykironde commented on #8
LGTM, works like a charm .

[2021-03-18 22:16] #2 closed

[2021-03-19 18:05] bw4sz commented on #14
Decided against a separate colab tutorial.

[2021-03-19 18:05] #14 closed

[2021-03-19 18:26] bw4sz opened #36 "How to avoid rate limit download error from github during tests?"
@henrykironde can you look into something for me? To use the release model in /tests/ we download a file from the latest github release. I make sure to only run

[code]

once in https://github.com/weecology/DeepForest-pytorch/blob/master/tests/conftest.py

and then inherit that fixture in all downstream tests to try to github API problems. Nevertheless, I occasionally get

[code]

as in the failed

[2021-03-19 23:04] bw4sz opened #37 "Is non-max suppression called per class?"
In a multi-class setup, are overlapping boxes first sorted by class? We want class-agnostic non-max suppression.

[2021-03-20 01:27] bw4sz opened #38 "Should cudatoolkit be package dependency?"
Users might install in a gpu or cpu environment? Should we include cuda toolkit by default? How do other pytorch packages handle this?

[2021-03-20 02:32] bw4sz opened #39 "Add sanity check on image size"
sometimes png are written with a sneaky alpha channel, such that they are 4 channel images, but look like tree. Write a check_image function to throw a flag.

[code]

[2021-03-23 15:47] bw4sz opened #40 "visualize.plot_predictions should take in a label or an integer"
Right now it just takes an integer. We need a more general function that converts labels to integer if given. The integers are required for coloring scheme. Some thought needed on most intuitive way forward.

[code]

[code]

@dingyif , if interested.

[2021-03-23 16:26] dingyif commented on #40
Definitely, I will work on this case. Thanks for the opportunity!

[2021-03-24 04:01] dingyif opened #43 "utilities.shapefile_to_annotations won't save csv"
Need to add the below code, in the end, will commit this after the previous commit merged successfully.

[code]

[2021-03-25 15:26] MkuuWaUjinga opened #44 "Bug in evaluation script?"
Hi everybody,
I am excited that you plan to make Deepforest available in Pytorch as well. While checking out the implementation I noticed that there might be a bug in `evaluate.py>>evaluate`: You calculate the precision and recall for every image separately and then average the result, which is not the same as the precision and reacall over _all_ images. An average of averages is in your case inco

[2021-03-25 18:27] bw4sz commented on #44
Hi Adrian, we actually did this by design. It used to be as you suggested
with recall over all images. We didn’t want to bias evaluate to forested
images that have many trees compared to images that have few trees. I am
away from work for today, but I wanted to alert you that there is a legit
bug in the eval code for multiclass models that I caught yesterday. I will
fix tomorrow. I’ll  make a note

[2021-03-25 21:49] bw4sz opened #45 "Make issues like in docs"
Direct people where they have questions.

[2021-03-25 21:49] bw4sz opened #46 "Rerun doc examples after api update"
There are a couple new columns and column names (e.g scores -> score), the docs should look identical to current api.

[2021-03-26 21:05] bw4sz opened #47 "Azure devops windows SSL error"
@henrykironde, can you follow this error? One of the collab needs the newer pip wheels than 0.1.24 and its blocking for a silly SSL windows pip error, nothing to do with source. I wonder if we should just wait this out? Feels like an azure problem.

https://dev.azure.com/benweinstein2010/DeepForest/_build/results?buildId=191&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=168f295b-0553-5364-35f

[2021-03-26 21:09] bw4sz commented on #47
Looks like someone's certificate expired.

https://github.com/joerick/cibuildwheel/issues/452

[2021-03-26 21:10] #47 closed

[2021-03-26 21:30] bw4sz commented on #47
We don't need to build with platform specifics, that was just in the
original tensorflow repo with the cython dependency, this is a pure python
wheel.

On Fri, Mar 26, 2021 at 2:10 PM Ben Weinstein ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-03-29 02:20] bw4sz opened #48 "Show an example in FAQ for how to replace sampler"
for oversampling of rare classes.

[2021-03-29 02:21] bw4sz commented on #48
not currently working, but something like

[code]

[2021-03-30 03:11] bw4sz commented on #37
Complete.

[2021-03-30 03:11] #37 closed

[2021-03-30 21:32] bw4sz commented on #44
Evaluation page added to the docs to orient users.

https://deepforest-pytorch.readthedocs.io/en/latest/Evaluation.html

[2021-03-30 21:32] #44 closed

[2021-03-30 21:32] bw4sz commented on #38
no.

[2021-03-30 21:32] #38 closed

[2021-03-30 21:34] bw4sz commented on #45
added to docs.

[2021-03-30 21:34] #45 closed

[2021-03-30 21:35] bw4sz commented on #43
Is there a reason to do this inside the function? Rather than just the function returning the result dataframe and they can choose to save it? I'm open either way.

[2021-04-01 01:28] dingyif commented on #43
I see. From the documentation of the function, it says it will give the path and save it. I thought you miss that line. No worries.

[2021-04-01 01:28] #43 closed

[2021-04-03 05:30] henrykironde commented on #36
Just a note for Ref: #41

[2021-04-03 16:06] MkuuWaUjinga commented on #44
Ok, thanks for the clarification! One quick follow-up: Is this also how deepforest is evaluated in the original deepforest implementation with keras/tf?

[2021-04-04 04:40] bw4sz commented on #44
the original repo uses mean-average-precision (mAP) as its metric. It is
calculated once across images as you expected in your first post.

It was implemented upstream of the repo and one of the reasons I
re-implemented the entire thing from scratch. I find precision and recall
at a set score threshold to be more intuitive for our applications.

On Sat, Apr 3, 2021 at 9:07 AM Adrian Ziegler ***@**

[2021-04-05 16:33] bw4sz opened #49 "What happened to the sphinx documentation?"
All the sources docs are not being built. Clearly a sphinx error. @henrykironde if you around and want to look, if not i'll try to see this afternoon. I bet it has something to do with mocking sphinx dependencies. I got myself into trouble here on readthedocs

https://github.com/weecology/DeepForest-pytorch/blob/7db4cc12213d80892327d350508e50fc837ab94d/docs/conf.py#L96

https://deepforest-pytorch.

[2021-04-05 16:35] bw4sz opened #50 "Add Henry as an author."
@henrykironde as you contribute more, we should have you listed as a full author instead of a contributor? Author line appears a few places and I want to make sure you are well noted.

[2021-04-06 01:09] henrykironde commented on #49
Why do we need to mock the imports?

[2021-04-06 03:05] bw4sz commented on #49
I was getting many errors on read the docs trying to install source. 
https://docs.readthedocs.io/en/stable/config-file/v2.html

[code]

https://readthedocs.org/projects/deepforest-pytorch/builds/13385581/
if you look at the readthedoc builds you'll see lots of errors. So i decided to mock it. Which passed, but now the html doesn't build, which I guess should have been obvious.

[2021-04-06 04:58] henrykironde commented on #49
@bw4sz it seems that you need to change the version of pillow.

I have tried to use mock, but that library will not create good docs. Also we had to include mock in the requirements. Even with that approach, I couldn't get the docs to run correct.

This seems to have solved the issue

[2021-04-06 20:45] #49 closed

[2021-04-07 17:29] bw4sz commented on #35
Added a test to prevent backend from being switched.

[2021-04-07 17:31] #50 closed

[2021-04-07 17:31] #35 closed

[2021-04-07 17:58] #48 closed

[2021-04-10 05:25] dwaipayan05 opened #55 "Missing .jpeg File"
I don't know if this is intentional or a mistake but, in the documentation there's mention of `sample_image` which is fetched through `get_data("OSBS_029.jpeg")` which is actually missing in the package.

**Proposed Solution**
- Replace `.jpeg` with `.png`
- Add `OSBS_029.jpeg` to Package

[2021-04-10 06:15] dwaipayan05 opened #56 "Error in predict_tile"
Could someone tell me what am I doing wrong here ?

After `pip install deepforest-pytorch`. Imported Release Model
[code]

Tried Predicting Tile with Sample Data already provided
[code]

Received the following error
[code]

**Environment** : Google Colab

[2021-04-10 14:19] bw4sz commented on #56
Pip install imagecodecs, looks like it needs to be added to setup.py and
requirements

On Fri, Apr 9, 2021 at 11:15 PM Dwaipayan Munshi ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-04-10 14:23] #56 closed

[2021-04-10 14:59] dwaipayan05 commented on #56
I did try `! pip install imagecodecs` before posting the issue here. It didn't work

[2021-04-10 15:07] bw4sz commented on #56
As a general rule 'it didn't work', is very unhelpful. Please provide code and error messages if you want support.

[2021-04-10 15:19] dwaipayan05 commented on #56
Apologies about that. It's my fault, I did do `pip install imagecodecs` However, it showed the same error on that runtime because I didn't restart the runtime.

I found it out when I tried again now.
 `pip install imagecodecs` solves this problem

Thank you

[2021-04-10 15:21] dwaipayan05 commented on #56
Or maybe it worked because of the recent PR that added `imagecodecs` . I am not sure
Anyways, it works perfectly now

[2021-04-10 16:22] bw4sz commented on #56
the PR would not have taken effect yet. I appreciate your help, but please
try to be more thorough and first checking when submitting issues.

On Sat, Apr 10, 2021 at 8:21 AM Dwaipayan Munshi ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-04-10 16:56] dwaipayan05 commented on #56
Yes, I'll keep that in mind @bw4sz
Sorry for the trouble !

[2021-04-15 13:34] bw4sz opened #58 "How can box recall and class recall be different when num_class=1"

[2021-04-15 21:16] bw4sz commented on #58
![Uploading Screen Shot 2021-04-15 at 2.16.42 PM.png…]()

[2021-04-15 23:09] henrykironde commented on #58
@bw4sz Could you upload the image again

[2021-04-16 19:57] bw4sz opened #59 "More robust to 4 channel tif inputs"
Lots of users have tif data that have hidden alpha channels, it should be smarter in converting these data.

[code]

[2021-04-19 21:19] bw4sz commented on #59
fixed.

[2021-04-19 21:19] #59 closed

[2021-04-20 21:15] bw4sz commented on #58
https://www.comet.ml/bw4sz/everglades/view/oVLfVkOc3LO36UBsTHnl030At

This needs some clear information in the docs.

[2021-04-20 21:18] bw4sz opened #60 "Out of memory error for predict file."
The tensors in model.predict file are doing something funny when predicting large file sizes. This issue needs to be expanded and explored.

https://www.comet.ml/bw4sz/everglades/view/MSbcVMcskDZNgNbj71oW96fJZ

[code]

[code]

Some garbage collection is needed to collect unused tensors.

[2021-04-21 17:51] bw4sz commented on #60
Stumbled on this while looking for something else, I don't like the look of the use of copy here. related?

[code]

https://github.com/weecology/DeepForest-pytorch/blob/c10797bc2afce08f74082bfc80bbcabf3b56c2e2/deepforest/preprocess.py#L18

[2021-04-26 02:31] #40 closed

[2021-04-26 20:48] ih-cs6300 opened #61 "edge bounding box annotation"
Annotation on the left edge of 2019_YELL_2_528000_4978000_image_crop2_34.png results in a bounding box that is not biologically feasible.  Default training settings were used.

2019_YELL_2_528000_4978000_image_crop2_34.png | 135 | 21 | 175 | 61 | Tree
-- | -- | -- | -- | -- | --
2019_YELL_2_528000_4978000_image_crop2_34.png | 161 | 0 | 210 | 26 | Tree
2019_YELL_2_528000_4978000_image_crop2_34.png

[2021-04-26 21:15] bw4sz opened #62 "Why do an image check on every data load?"
https://github.com/weecology/DeepForest-pytorch/blob/5557158368ed4754c9cd87ffd253f3b4d401db25/deepforest/dataset.py#L58

This probably is limiting performance.

[2021-04-27 17:20] bw4sz commented on #60
I think this is the preferred syntax,
https://stackoverflow.com/questions/61566919/example-of-doing-simple-inference-with-pytorch-lightning

[2021-05-10 03:32] bw4sz opened #63 "Profile dataloader code"

[2021-05-12 13:50] bw4sz opened #64 "Create document for subclassing transform for data augmentation"
If a user wants to add new transforms, they can override the methods and create a new class.

[code]

[2021-05-12 13:52] bw4sz commented on #64
Alternatively just allow users to pass new transforms.

[2021-05-12 18:09] bw4sz commented on #64
Closing in favor of providing a arg for new tranforms.

[2021-05-12 18:09] #64 closed

[2021-05-12 18:10] bw4sz commented on #63
skimage should be replaced with PIL, and get rid of the nasty permute in preprocess.py

[code]

[2021-05-12 18:10] bw4sz commented on #62
Removed.

[2021-05-12 18:10] #62 closed

[2021-05-12 18:10] bw4sz commented on #60
Removed the copy and no longer see OOM errors.

[2021-05-12 18:10] #60 closed

[2021-05-12 18:12] bw4sz commented on #6
This is outside of the repo core goals.

[2021-05-12 18:12] #6 closed

[2021-05-12 18:12] bw4sz commented on #58
Corrected, the precision was being calculated on all boxes, but recall was just the class-matching boxes.

[2021-05-12 18:12] #58 closed

[2021-05-12 18:15] bw4sz commented on #39
added to preprocess.py

[code]

[2021-05-12 18:15] #39 closed

[2021-05-12 20:47] bw4sz commented on #61
Can you paste a fuller set of reproducible code, I cannot recreate any erroneous boxes. I believe there is something going on, but I need to find an error first. Nothing amiss here
![Figure_25](https://user-images.githubusercontent.com/1208492/118041988-5a4d2100-b328-11eb-91ab-1765ae33da33.png)

[code]

[2021-05-15 21:08] ih-cs6300 commented on #61
I think we're talking about different images.  This is the image that I have with the name "2019_YELL_2_528000_4978000_image_crop2_34.png".

<a href><img src="https://s3.amazonaws.com/comet.ml/image_6a30a3099f9148d99d95834f1ed3df1d-VMp70pbI4E3jCoUk6xnEiEORg.png"></a>

[2021-05-17 03:08] bw4sz opened #66 "Profile IOU eval"
[code]
Creating a pandas frame each round seems to be expensive.
<img width="1433" alt="Screen Shot 2021-05-16 at 8 03 37 PM" src="https://user-images.githubusercontent.com/1208492/118427337-d07fb980-b681-11eb-9dd2-4a5c53e5807a.png">

[2021-05-17 13:47] bw4sz commented on #66
Removed the pandas construction on each loop, this should speed things up considerably.

[2021-05-17 13:47] #66 closed

[2021-05-17 13:48] bw4sz commented on #63
replaced skimage with PIL, made it about 10% performance difference.

[2021-05-17 13:48] #63 closed

[2021-05-24 18:36] ethanwhite opened #67 "predict_image error for current PyPi release"
[code]

Results in:

[code]

Everything runs fine if `return_plot=False`.

[2021-05-24 18:43] bw4sz commented on #67
Confirming that no error is raised on cpu

[code]

[2021-05-24 18:46] bw4sz commented on #67
@ethanwhite can you leave env details? I can't reproduce on GPU on hipergator?

[code]
[code]

[2021-05-24 18:46] bw4sz commented on #67
python 3.9 versus 3.8?

[2021-05-24 18:53] bw4sz commented on #67
I'll push a new tag to pypi just to be sure.

[2021-05-24 18:57] ethanwhite commented on #67
UPDATED: Python 3.9.4

[2021-05-24 19:00] ethanwhite commented on #67
[code]

[2021-05-24 19:02] ethanwhite commented on #67
[code]

[2021-05-24 19:07] ethanwhite commented on #67
Confirming that I get the same error on CPU:

[code]

[2021-05-24 19:09] ethanwhite commented on #67
Same error with a fresh install for Python 3.8.8 using

[code]

[2021-05-24 19:13] bw4sz commented on #67
It must be a source versus pypi difference, I cannot recreate, wait for
0.1.4.3 to pass and I will test on gpu.

On Mon, May 24, 2021 at 12:10 PM ethanwhite ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-05-24 19:17] ethanwhite commented on #67
That's it. Just did a source install and everything works now.

[2021-05-24 21:00] bw4sz opened #68 "Github Action MacOSX build fails on imagecodecs"
@henrykironde can you have a look at where to call upgrade pip here

https://github.com/weecology/DeepForest-pytorch/blob/master/.github/workflows/Conda-app.yml

imagecodecs is failing on MacOSX on github actions.

https://github.com/weecology/DeepForest-pytorch/runs/2659297381?check_suite_focus=true

Quick google seach says this is a pypi issue. I don't have any experience yet with github actions

[2021-05-24 21:24] #55 closed

[2021-05-24 22:05] bw4sz commented on #46
@ethanwhite I've check the getting_started.md and pushed changes, reinstall from source (I found one change) and it should be good. I'm checking the rest of the docs tomorrow.

[2021-05-25 03:41] henrykironde commented on #68
I think the error is caused by the new release of https://pypi.org/project/imagecodecs/ a few days ago. The best way to deal with this is to give it some time as the folks figure out what is happening with the builds. However it should work well if installed manually as the instructions on the Readme page of the package. I will go ahead and leave them an issue.

[2021-05-25 03:42] bw4sz commented on #68
thanks!

On Mon, May 24, 2021 at 8:41 PM henry senyondo ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-05-25 13:24] ethanwhite commented on #67
And this is working with the newest PyPI release after the update. Thanks @bw4sz!

[2021-05-25 13:24] #67 closed

[2021-05-29 21:04] bw4sz opened #74 "Color picker doesn't work after selected colors."
[code]

[2021-06-01 02:11] bw4sz commented on #74
corrected.

[2021-06-01 02:11] #74 closed

[2021-06-01 02:11] bw4sz opened #75 "Loading multi-class saved model from checkpoint fails."
[code]

[2021-06-01 02:55] bw4sz commented on #75
Covered in FAQ, simple work-around.

https://deepforest-pytorch.readthedocs.io/en/latest/FAQ.html#i-cannot-reload-a-saved-multi-class-model-using-a-checkpoint

[2021-06-01 02:55] #75 closed

[2021-06-02 17:21] bw4sz opened #76 "API docs are not building."
The readthedocs source is blank for several modules

https://deepforest-pytorch.readthedocs.io/en/latest/source/deepforest.html#deepforest-main-module

@henrykironde didn't we have this problem months ago? Can you investigate?

[2021-06-03 17:18] bw4sz opened #77 "Make an R reticulate tutorial"
@henrykironde I just got asked to make an R interface. I can work with you here.

[2021-06-03 18:24] bw4sz commented on #68
This looks like it solved it self, @henrykironde you were right.

[2021-06-03 18:24] #68 closed

[2021-06-04 18:36] henrykironde commented on #77
Yes I can start working on this next week

[2021-06-04 19:26] henrykironde commented on #77
Let us suggest a name.  @ethanwhite and @bw4sz please comment on what you think about the name so that we can create a template repo for the the package.

rdeepforest
deepforestr   "Sounding like deep forester"

[2021-06-04 19:45] ethanwhite commented on #77
I like deepforestr, but I'm happy either way.

[2021-06-06 20:13] bw4sz commented on #77
oh definitely deepforestr, that's great.

On Fri, Jun 4, 2021 at 12:45 PM ethanwhite ***@***.***> wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-06-08 18:45] bw4sz opened #78 "What is the status of this repo?"
This repo has been moved to https://github.com/Weecology/DeepForest
The deepforest-pytorch branch has been moved to the 'main' branch of https://github.com/Weecology/DeepForest. The original DeepForest repo was based on tensorflow and since been deprecated. Since this project was newer and had fewer users, it made sense to merge the two repos. Please use the DeepForest repo in all future cases.

[2021-06-08 18:45] bw4sz commented on #77
Closing this and reopening in the new repo structure.

[2021-06-08 18:45] #77 closed

[2021-06-15 13:51] SailorUrano opened #79 "Error when going through training tutorial"
Hi!
I have installed the new version with Pytorch and was trying to go through the training demo that you did on Colab (https://colab.research.google.com/drive/1AJUcw5dEpXeDPHd0sotAz5lpWedFYSIL#sandboxMode=true&scrollTo=uraEWunn9VSz). I copied and pasted the code in my editor, and am training on a GPU. I get this error:

**IndexError: tensors used as indices must be long, byte or bool tensors**

w

[2021-06-21 12:01] Klara8A opened #80 "Prediction accuracy"
Hi!
I started using DeepForest in April when it was still running with tensorflow and now I have started testing it with the new version based on pytorch. I have noticed that the predictions are different. Being those of the new version less accurate and with more "errors". I have tried  it with different patch sizes, and different iou.
So  I was wondering if this is due to the changes that have b

[2021-06-21 16:54] bw4sz commented on #80
A couple users had reported similar issues. I haven't been able to reproduce at all, the benchmark score is within a few percent, see the other issues. Can you paste images (before and after) and the code you used? I'm considering training a new model, but I need to understand where differences might be, since the training data is identical.

[2021-06-21 16:55] bw4sz commented on #80
also, can we move this to the deepforest repo, this repo is deprecated as we merge the two.

[2021-06-21 16:55] #80 closed

[2021-07-12 18:19] kristiyan-hristov opened #81 "Bad performance when training with new data."
Dear developers,
I annotated my images and tried training on them last Tuesday (6th July) and I managed to obtain pretty good results. However when repeating the same process on 9th July (exactly the same code as on the 6th) I got completely different results - either some bounding boxes that does not make sense at all or just no predictions whatsoever. I supposed the issue was mine and checked bo

[2021-07-12 18:33] bw4sz commented on #81
hello. please see the large message on the front of this repo. It has been moved to the main deepforest repo and exists on for older uses. It is difficult to know without seeing any code, but we can confident the release model didn't change. The release model is tied to github releases in this repo, which is why its called the 'release model'. There has been no change in several months. If you hav

[2021-07-12 18:33] #81 closed

[2021-07-13 07:55] kristiyan-hristov commented on #81
![image](https://user-images.githubusercontent.com/78650985/125413516-b0fce931-b202-47e8-9ff2-a1b6a01422fe.png)
![image](https://user-images.githubusercontent.com/78650985/125413287-718acc71-290d-4734-8863-3525b14656a2.png)
![image](https://user-images.githubusercontent.com/78650985/125413395-acc82d84-a2d4-49b1-a1b7-431fc0bbacc6.png)

This is how my code, data and result look like the image that I

[2021-07-13 08:14] kristiyan-hristov opened #82 "follow up to previous issue"
Because the previous issue was closed I don't know if you will see the comment there that's why I create anew one. Please excuse me if this is troubling you!

![image](https://user-images.githubusercontent.com/78650985/125413516-b0fce931-b202-47e8-9ff2-a1b6a01422fe.png)
![image](https://user-images.githubusercontent.com/78650985/125413287-718acc71-290d-4734-8863-3525b14656a2.png)
![image](https://

[2021-07-13 11:47] ethanwhite commented on #82
Hi @kristiyan-hristov - @bw4sz's main point in the last issue was that this is the wrong repository to be using both for installing software and opening issues. Active development is now in https://github.com/weecology/DeepForest. I am transferring this issue over there so it can be addressed.

To get us started can you please let us know how you installed (pip, conda, or from source) DeepForest?